body {
    background: rgb(56, 2, 107);
}

.title {
    text-align: center;
    text-decoration: underline;
    color: #f8f5f5;
}

.form {
    text-align: center;
    width: 100%;
    margin-top: 5rem;
}

.tarea {
    color: #f8f5f5;
    font-style: italic;
}

.infoTarea {
    color: #f8f5f5;
    font-style: italic;
    text-align: center;
}

.botonDistribucion {
    display: grid;
    grid-template-columns: (4,1fr);
}

.botonEstilo {
    margin-top: 20px;
    margin-bottom: 20px;
    background: orangered;
    height: 30px;
    border-color: #414141;
    padding: 0.2rem 0.8rem;
    border-radius: 15px;
    color: #f8f5f5;
    cursor: pointer;
}