body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkcyan;
}

.title {
    text-align: center;
    width: auto;
}

.imagen {
    width: 80px;
}

.zonaDrop { 
    height: 300px;
    border: 2px dotted white;
    width: auto;
    text-align: center;
}